/* Coolors Exported Palette - https://coolors.co/233d4d-fe7f2d-fcca46-a1c181-619b8a */

/* CSS HEX */
--charcoal: #233d4dff;
--pumpkin: #fe7f2dff;
--sunglow: #fcca46ff;
--olivine: #a1c181ff;
--polished-pine: #619b8aff;

/* CSS HSL */
--charcoal: hsla(203, 37%, 22%, 1);
--pumpkin: hsla(24, 99%, 59%, 1);
--sunglow: hsla(44, 97%, 63%, 1);
--olivine: hsla(90, 34%, 63%, 1);
--polished-pine: hsla(162, 23%, 49%, 1);

/* SCSS HEX */
$charcoal: #233d4dff;
$pumpkin: #fe7f2dff;
$sunglow: #fcca46ff;
$olivine: #a1c181ff;
$polished-pine: #619b8aff;

/* SCSS HSL */
$charcoal: hsla(203, 37%, 22%, 1);
$pumpkin: hsla(24, 99%, 59%, 1);
$sunglow: hsla(44, 97%, 63%, 1);
$olivine: hsla(90, 34%, 63%, 1);
$polished-pine: hsla(162, 23%, 49%, 1);

/* SCSS RGB */
$charcoal: rgba(35, 61, 77, 1);
$pumpkin: rgba(254, 127, 45, 1);
$sunglow: rgba(252, 202, 70, 1);
$olivine: rgba(161, 193, 129, 1);
$polished-pine: rgba(97, 155, 138, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-right: linear-gradient(90deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-bottom: linear-gradient(180deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-left: linear-gradient(270deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-top-right: linear-gradient(45deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-bottom-right: linear-gradient(135deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-top-left: linear-gradient(225deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-bottom-left: linear-gradient(315deg, #233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-radial: radial-gradient(#233d4dff, #fe7f2dff, #fcca46ff, #a1c181ff, #619b8aff);