/* Coolors Exported Palette - https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */

/* CSS HEX */
--light-pink: #ffadadff;
--deep-champagne: #ffd6a5ff;
--lemon-yellow-crayola: #fdffb6ff;
--tea-green: #caffbfff;
--celeste: #9bf6ffff;
--baby-blue-eyes: #a0c4ffff;
--maximum-blue-purple: #bdb2ffff;
--mauve: #ffc6ffff;
--baby-powder: #fffffcff;

/* CSS HSL */
--light-pink: hsla(0, 100%, 84%, 1);
--deep-champagne: hsla(33, 100%, 82%, 1);
--lemon-yellow-crayola: hsla(62, 100%, 86%, 1);
--tea-green: hsla(110, 100%, 87%, 1);
--celeste: hsla(185, 100%, 80%, 1);
--baby-blue-eyes: hsla(217, 100%, 81%, 1);
--maximum-blue-purple: hsla(249, 100%, 85%, 1);
--mauve: hsla(300, 100%, 89%, 1);
--baby-powder: hsla(60, 100%, 99%, 1);

/* SCSS HEX */
$light-pink: #ffadadff;
$deep-champagne: #ffd6a5ff;
$lemon-yellow-crayola: #fdffb6ff;
$tea-green: #caffbfff;
$celeste: #9bf6ffff;
$baby-blue-eyes: #a0c4ffff;
$maximum-blue-purple: #bdb2ffff;
$mauve: #ffc6ffff;
$baby-powder: #fffffcff;

/* SCSS HSL */
$light-pink: hsla(0, 100%, 84%, 1);
$deep-champagne: hsla(33, 100%, 82%, 1);
$lemon-yellow-crayola: hsla(62, 100%, 86%, 1);
$tea-green: hsla(110, 100%, 87%, 1);
$celeste: hsla(185, 100%, 80%, 1);
$baby-blue-eyes: hsla(217, 100%, 81%, 1);
$maximum-blue-purple: hsla(249, 100%, 85%, 1);
$mauve: hsla(300, 100%, 89%, 1);
$baby-powder: hsla(60, 100%, 99%, 1);

/* SCSS RGB */
$light-pink: rgba(255, 173, 173, 1);
$deep-champagne: rgba(255, 214, 165, 1);
$lemon-yellow-crayola: rgba(253, 255, 182, 1);
$tea-green: rgba(202, 255, 191, 1);
$celeste: rgba(155, 246, 255, 1);
$baby-blue-eyes: rgba(160, 196, 255, 1);
$maximum-blue-purple: rgba(189, 178, 255, 1);
$mauve: rgba(255, 198, 255, 1);
$baby-powder: rgba(255, 255, 252, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-right: linear-gradient(90deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-bottom: linear-gradient(180deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-left: linear-gradient(270deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-top-right: linear-gradient(45deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-bottom-right: linear-gradient(135deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-top-left: linear-gradient(225deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-bottom-left: linear-gradient(315deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);
$gradient-radial: radial-gradient(#ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);