--blue-jeans: hsla(206, 74%, 63%, 1);
--light-sky-blue: hsla(204, 90%, 74%, 1);
--cultured: hsla(0, 0%, 98%, 1);
--minion-yellow: hsla(50, 100%, 68%, 1);
--french-pink: hsla(342, 100%, 69%, 1);

/* SCSS HEX */
$blue-jeans: #5aa9e6ff;
$light-sky-blue: #7fc8f8ff;
$cultured: #f9f9f9ff;
$minion-yellow: #ffe45eff;
$french-pink: #ff6392ff;

/* SCSS HSL */
$blue-jeans: hsla(206, 74%, 63%, 1);
$light-sky-blue: hsla(204, 90%, 74%, 1);
$cultured: hsla(0, 0%, 98%, 1);
$minion-yellow: hsla(50, 100%, 68%, 1);
$french-pink: hsla(342, 100%, 69%, 1);

/* SCSS RGB */
$blue-jeans: rgba(90, 169, 230, 1);
$light-sky-blue: rgba(127, 200, 248, 1);
$cultured: rgba(249, 249, 249, 1);
$minion-yellow: rgba(255, 228, 94, 1);
$french-pink: rgba(255, 99, 146, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-right: linear-gradient(90deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-bottom: linear-gradient(180deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-left: linear-gradient(270deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-top-right: linear-gradient(45deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-bottom-right: linear-gradient(135deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-top-left: linear-gradient(225deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-bottom-left: linear-gradient(315deg, #5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
$gradient-radial: radial-gradient(#5aa9e6ff, #7fc8f8ff, #f9f9f9ff, #ffe45eff, #ff6392ff);
