/* Coolors Exported Palette - https://coolors.co/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1 */

/* CSS HEX */
--red-salsa: #f94144ff;
--orange-red: #f3722cff;
--yellow-orange-color-wheel: #f8961eff;
--mango-tango: #f9844aff;
--maize-crayola: #f9c74fff;
--pistachio: #90be6dff;
--zomp: #43aa8bff;
--cadet-blue: #4d908eff;
--queen-blue: #577590ff;
--cg-blue: #277da1ff;

/* CSS HSL */
--red-salsa: hsla(359, 94%, 62%, 1);
--orange-red: hsla(21, 89%, 56%, 1);
--yellow-orange-color-wheel: hsla(33, 94%, 55%, 1);
--mango-tango: hsla(20, 94%, 63%, 1);
--maize-crayola: hsla(42, 93%, 64%, 1);
--pistachio: hsla(94, 38%, 59%, 1);
--zomp: hsla(162, 43%, 46%, 1);
--cadet-blue: hsla(178, 30%, 43%, 1);
--queen-blue: hsla(208, 25%, 45%, 1);
--cg-blue: hsla(198, 61%, 39%, 1);

/* SCSS HEX */
$red-salsa: #f94144ff;
$orange-red: #f3722cff;
$yellow-orange-color-wheel: #f8961eff;
$mango-tango: #f9844aff;
$maize-crayola: #f9c74fff;
$pistachio: #90be6dff;
$zomp: #43aa8bff;
$cadet-blue: #4d908eff;
$queen-blue: #577590ff;
$cg-blue: #277da1ff;

/* SCSS HSL */
$red-salsa: hsla(359, 94%, 62%, 1);
$orange-red: hsla(21, 89%, 56%, 1);
$yellow-orange-color-wheel: hsla(33, 94%, 55%, 1);
$mango-tango: hsla(20, 94%, 63%, 1);
$maize-crayola: hsla(42, 93%, 64%, 1);
$pistachio: hsla(94, 38%, 59%, 1);
$zomp: hsla(162, 43%, 46%, 1);
$cadet-blue: hsla(178, 30%, 43%, 1);
$queen-blue: hsla(208, 25%, 45%, 1);
$cg-blue: hsla(198, 61%, 39%, 1);

/* SCSS RGB */
$red-salsa: rgba(249, 65, 68, 1);
$orange-red: rgba(243, 114, 44, 1);
$yellow-orange-color-wheel: rgba(248, 150, 30, 1);
$mango-tango: rgba(249, 132, 74, 1);
$maize-crayola: rgba(249, 199, 79, 1);
$pistachio: rgba(144, 190, 109, 1);
$zomp: rgba(67, 170, 139, 1);
$cadet-blue: rgba(77, 144, 142, 1);
$queen-blue: rgba(87, 117, 144, 1);
$cg-blue: rgba(39, 125, 161, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-right: linear-gradient(90deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-bottom: linear-gradient(180deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-left: linear-gradient(270deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-top-right: linear-gradient(45deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-bottom-right: linear-gradient(135deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-top-left: linear-gradient(225deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-bottom-left: linear-gradient(315deg, #f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);
$gradient-radial: radial-gradient(#f94144ff, #f3722cff, #f8961eff, #f9844aff, #f9c74fff, #90be6dff, #43aa8bff, #4d908eff, #577590ff, #277da1ff);